<div class="navbar container">
    <a id="site-title" class="alignable pull-left" href="/">{{ site.title }}</a>
    <ul id="navlist" class="alignable pull-right navbar-ul">
        <a href="{{ site.url }}{{ site.baseurl}}/about">
            <i aria-hidden="true" class="fa fa-info-circle" data-toggle="tooltip" title="About"></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/tags">
            <i aria-hidden="true" class="fa fa-hashtag" data-toggle="tooltip" title="Tags"></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/wallpapers">
            <i aria-hidden="true" class="fa fa-image" data-toggle="tooltip" title="Free Wallpapers"></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/feed">
            <i aria-hidden="true" class="fa fa-rss" data-toggle="tooltip" title="Feed"></i>
        </a>
    </ul>
</div>
<div style="clear:both"></div>

<hr>
