<div class="navbar container">
    <a id="site-title" class="alignable pull-left" href="/">{{ site.title }}</a>
    <ul id="navlist" class="alignable pull-right navbar-ul">
        <a href="{{ site.url }}{{ site.baseurl}}/about" title="About this site">
            <i aria-hidden="true" class="fa fa-info-circle" data-toggle="tooltip""></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/tags" title="Tags">
            <i aria-hidden="true" class="fa fa-hashtag" data-toggle="tooltip"></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/wallpapers" title="Free Wallpapers">
            <i aria-hidden="true" class="fa fa-image" data-toggle="tooltip"></i>
        </a>
        <a href="{{ site.url }}{{ site.baseurl}}/feed" title="Subscribe to the feed">
            <i aria-hidden="true" class="fa fa-rss" data-toggle="tooltip"></i>
        </a>
    </ul>
</div>
<div style="clear:both"></div>
<hr>
