<div class="page-title">
    <a href="{{site.baseurl}}{{ page.url }}" class="page-title">
            {{ page.title }}
    </a>
    <div class="page-subtitle">
        {{ page.subtitle }}
        <br>
        {{page.author}}
        {{ page.date | date: "%Y-%m-%d" }}
    </div>
</div>
<!--
<div class="page-details">
    {{page.author}}
    <br>
    {{ page.date | date: "%Y-%m-%d" }}
</div>
-->
<div class="content">
    {{ page.content }}
</div>
<br>
{% include hashtags.html %}
<br>
{% include social.html %}
<br>
<h1 style="visibility: hidden; font-size: 4px;">{{ page.title }}</h1>
