<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrapper">
        {% include navbar.html %}
        <br>
        <div class="container">
            <div class="content">
                {{ content }}
            </div>
            <div class="footer">
                {% include footer.html %}
            </div>
        </div>
    </div>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1a25d9660b3940638d7bc3a6e402c13b"}'></script><!-- End Cloudflare Web Analytics -->
</body>
{% include tail.html %}
</html>
